# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\.........Cours\L3 Info Semestre 2\LTA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
